/* Style for each task column */
.task-column {
    margin-right: 20px;
    flex: 0 0 auto;
    width: 300px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
  }
  
.task-column h2 {
font-size: 1.5em;
margin-bottom: 10px;
}