.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-form {
    background: var(--white);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.login-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: var(--accent-color-green);
}

.login-error {
    color: #ff4d4d;
    font-size: 0.9rem;
    margin-bottom: 1rem;
}

.login-input {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 1px solid var(--accent-color-green);
    border-radius: 4px;
    font-size: 1rem;
    box-sizing: border-box;
    background-color: #f8f9f5;
    color: var(--accent-color-green);
}

.login-input:focus {
    border-color: var(--accent-color-green);
    outline: none;
    box-shadow: 0 0 4px rgba(62, 79, 28, 0.5);
    background-color: #ffffff;
}

.login-button {
    width: 100%;
    padding: 0.8rem;
    background-color: var(--accent-color-green);
    color: #ffffff;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: var(--accent-color-green-dark);
}

.login-button:active {
    background-color: var(--accent-color-green-dark);
}

/* Remove autofill background color */
.login-input:-webkit-autofill {
    background-color: #f8f9f5 !important;
    -webkit-box-shadow: 0 0 0px 1000px #f8f9f5 inset !important; 
    box-shadow: 0 0 0px 1000px #f8f9f5 inset !important;
    color: var(--accent-color-green) !important;
}

.login-input:-webkit-autofill:focus {
    background-color: #ffffff !important;
    -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
    box-shadow: 0 0 0px 1000px #ffffff inset !important;
    border-color: var(--accent-color-green)  !important;
    color: var(--accent-color-green) !important;
}

.login-register-link {
    margin-top: 1rem;
    font-size: 0.9rem;
    color: var(--accent-color-green);
    text-align: center;
}

.login-register-link a {
    color: var(--accent-color-green);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.login-register-link a:hover {
    color: var(--accent-color-green-dark);
}