.task-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--card-text);
  text-decoration: none;
  background-color: var(--accent-color-green);
  color: var(--background-color);
  padding: 15px 20px;
  margin-bottom: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease, background-color 0.2s ease;
  cursor: grab;
  font-size: 1.1em;
  font-weight: 500;
  z-index: 1;
}

.task-card:hover {
  background-color: var(--accent-color-green-light);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}

.task-card:active {
  cursor: grabbing;
  transform: scale(0.98);
}

.task-card .task-name {
  font-size: 1.2em;
  font-weight: bold;
  color: var(--text-color-light);
}

.task-card .button-group {
  display: flex;
  gap: 10px;
}

.task-card .delete-button,
.task-card .edit-button {
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.task-card .delete-button {
  background-image: url(../../public/images/trash-icon.png);
}

.task-card .delete-button:hover {
  transform: scale(1.2);
}

.task-card .edit-button {
  background-image: url(../../public/images/edit-icon.png);
}

.task-card .edit-button:hover {
  transform: scale(1.2);
}

.task-name-input {
  background-color: inherit;
  font-size: 1.2em;
  font-weight: bold;
  color: var(--text-color-light);
  border: none;
  border-radius: 5px;
  padding: 5px;
  width: 100%;
  box-sizing: border-box;
}

.task-name-input:hover {
  background-color: inherit;
}