h1 {
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--text-color-gray);
  text-align: center;
  margin-bottom: 20px;
  text-transform: capitalize;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: rgba(249, 249, 249, 0.7);
  color: var(--text-color-gray);
}

td {
  padding: 8px;
  border: 1px solid #ccc;
}

input, select, textarea {
  width: 95%;
  padding: 5px;
  border: transparent;
  outline: none;
  background: rgba(249, 249, 249, 0);
  border-radius: 4px;
  box-sizing: border-box;
  color: var(--text-color-gray);
}

.taskdetails-buttons {
  padding: 10px 20px;
  background-color: var(--granite-ridge);
  color: var(--white);
  border: none;
  cursor: pointer;
  margin-right: 10px;
  margin-top: 10px;
  border-radius: 4px;
}

button:hover {
  background-color: var(--accent-color-pink);
}