.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100vh;
  background: none !important;
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  z-index: 1000;
  transition: all 0.7s ease;
  overflow: hidden;
}

.toolbar:hover {
  width: 200px;
}

.toolbar.collapsed {
  width: 100%;
  height: 60px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-shadow: none;
}

/* Collapse button */
.collapse-button {
  position: absolute;
  top: 1px;
  right: 1px;
  background: none;
  border: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.collapse-button:hover {
  background: none !important;
}

.sandwich-icon {
  width: 25px;
  height: 2px;
  background-color: var(--accent-color-green);
  position: relative;
  display: block;
}

.sandwich-icon::before,
.sandwich-icon::after {
  content: '';
  width: 25px;
  height: 2px;
  background-color: var(--accent-color-green);
  position: absolute;
  left: 0;
  transition: transform 0.3s ease;
}

.sandwich-icon::before {
  top: -8px;
}

.sandwich-icon::after {
  top: 8px;
}

/* Arrow icon */
.arrow-icon {
  font-size: 2.5rem;
  color: var(--accent-color-green);
  display: block;
}

/* Rotate the sandwich icon when collapsed */
.toolbar.collapsed .sandwich-icon::before {
  top: -8px;;
}

.toolbar.collapsed .sandwich-icon::after {
  top: 8px;
}

/* Toolbar menu */
.toolbar-menu {
  list-style: none;
  padding: 0;
  margin: 40px;
  width: 100%;
}

.toolbar-menu li {
  margin: 10px 0;
}

.toolbar-menu button {
  width: 100%;
  padding: 10px;
  background-color: var(--accent-color-green);
  color: var(--white);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: left;
}

.toolbar-menu button:hover {
  background-color: var(--accent-color-low);
  color: var(--background-color);
}

/* Navbar menu when collapsed */
.toolbar.collapsed .toolbar-menu {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: auto;
}

.toolbar.collapsed .toolbar-menu li {
  margin: 0;
}

.toolbar.collapsed .toolbar-menu button {
  padding: 5px 10px;
  font-size: 0.9rem;
}

.weather-section {
  margin-top: auto;
  margin-bottom: 80px;
  width: 100%;
  text-align: center;
}